.stopGame__content{
    position:fixed;
    background: white;
    top:10%;
    bottom: 10%;
    left:10%;
    right: 10%;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    max-height: 600px;
}

.stopGame__loader{
    max-width: 100%;
}

.stopGame__overlay{
    background: black;
    opacity: 0.3;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
}