.game-over__gif{
    max-width: 100%;
    width:400px;
}

.game-over__result-btn{
    width: 100%;
    max-width: 400px;
}

.game-over__result-bnt-wrapper{
    padding: 10px;
}

.game-over__pdf-btn{
    margin-bottom: 30px;
}

.new-game__rules{
    margin: 0 auto;
    border: 2px solid #26a69a;
    padding:10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.new-game__players{
    padding: 20px!important;
}

.new-game__players-title{
    font-weight: bold;
}

.new-game__rules-title{
    font-weight: bold;
}

.game-main__container{
    background: white;
    padding: 20px;
}