.sketchbook-display__wrapper{
    padding: 30px;
    top: 10%;
    max-height: none;
    bottom: 10%;
}
.modal{
    z-index: 1000;
}
.modal-overlay{
    opacity: 0.3;
    cursor: pointer;
}

.open .modal-overlay, .open .sketchbook-display__wrapper{
    display: block;
}