.drawing-mode{
    padding-bottom: 50px;
}

.drawing-mode__canvas{
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 25px;
}
.drawing-mode__countdown{
    text-align: center;
    font-size: 1.5rem;
    padding: 0px 0px 10px 0px
}

.drawing-controls{
    padding:10px
}

.drawing-tools .icon{
    margin: 10px;
}

.drawing-tools .circle-picker{
    margin: 0 auto!important;
}

.drawing-tools__color{
padding: 0px 10px;
}

.circle-picker{
    max-width: 100%;
    justify-content: center;
}

.drawing-tools .brush-size{
    min-width: 20px;
    display: inline-block;
}

.circle-picker span:nth-child(22) div span div{
    border: 1px solid lightgray;
}

.drawing-tools__brush-btn button{
    margin: 10px;
}